{% extends 'get_rating/base.html' %}

{% block body %}

<Title> Little Bird: Acknowledgements </Title>
<h3> Acknowledgements </h3>
<p>The Little Bird website is run using <a href="http://www.djangoproject.com"> Django 1.9</a>. <br> The sentiment analysis tools used come partially or fully from the <a href="http://www.hltk.org">Natural Language Toolkit </a>. <br> The tweets are taken from Twitter using the <a href="https://dev.twitter.com"> Twitter API</a>. </p>
<p> We would like to thank the following people: <br> Dr. Matthew Wachs and Dr. Anne Rogers, our guides through this process <br> Gustav Larsson, for helping integrate Little Bird into a Django interface </p>
{% endblock %}