{% extends 'get_rating/base.html' %}

{% block body %}
<title>Little Bird: The Ask Anything Engine</title>

<form method="GET">
	<center>
		What do you want to know about? <input type="text" name="query"<br>
        <select name="category">
            <option value="none">None of these</option>
            <option value="movie">Movie</option>
            <option value="book">Book</option>
            <option value="album">Artist, Album</option>
        </select>
		<input type="submit" value="Ask!">
	</center>
</form>
{% if return %}
<p> <center> {{query}} has a rating of <b> {{ return }}% </b> positive according to Little Bird </center> </p>
{% endif %}

{% if best %}
<center>
<p style="text-align:center;">
<b>The most positive tweet: </b> {{best}}
<br>
<br>
<b> The most negative tweet: </b> {{worst}} </span>
</p>
</center>
{% endif %}

{% if best %}
<center>
<img src="/get_rating/static/get_rating/images/hist.png" alt="Distribution of Tweet Sentiments" width="400" height="300">
<img src="/get_rating/static/get_rating/images/cloud.png" alt="Word Cloud" width="400" height="300">
</center>
{% endif %}

{% endblock %}
