{% extends 'get_rating/base.html' %}

{% block body %}
<title>Little Bird: The Ask Anything Engine</title>

<form method="GET"> 
	<center>
		What do you want to know about? <input type="text" name="query"<br>
		<input type="submit" value="Ask!">
	</center>
</form>
{% if return %}
<p> <center> {{query}} has a rating of {{ return }} according to little bird </center> </p>
{% endif %}

{% if best %}
<p style="text-align:left;">
The most positive tweet: {{best}}
<br>
<br>
<span style="float:right;"> The most negative tweet: {{worst}} </span>
</p>
{% endif %}


{% endblock %}
