{% extends 'get_rating/base.html' %}

{% block body %}
<title>Little Bird: The Ask Anything Engine</title>

<form method="GET">
	<center>
		What do you want to know about? <input type="text" name="query"<br>
        <select name="category">
            <option value="none">None of these</option>
            <option value="movie">Movie</option>
            <option value="book">Book</option>
            <option value="album">Artist, Album</option>
        </select>
		<input type="submit" value="Ask!">
	</center>
</form>
{% if return %}
<p> <center> {{query}} has a rating of {{ return }} according to Little Bird </center> </p>
{% endif %}

{% if best %}
<p style="text-align:left;">
The most positive tweet: {{best}}
<br>
<br>
The most negative tweet: {{worst}} </span>
</p>
{% endif %}

{% if return %}
<img src="/get_rating/static/get_rating/images/hist.png">
{% endif %}

{% endblock %}
