{% extends 'get_rating/base.html' %}

{% block body %}

<Title> Little Bird: Acknowledgements </Title>
<h3> Acknowledgements </h3>
<p>The Little Bird website is run using <a href="http://www.djangoproject.com"> Django 1.9</a>. <br> The sentiment analysis tools used come partially or fully from the <a href="http://www.nltk.org">Natural Language Toolkit </a>. <br> The tweets are taken from Twitter using the <a href="https://dev.twitter.com"> Twitter API</a>. <br> The word cloud was made using <a href="http://github.com/amueller/word_cloud"> amueller's word cloud maker</a>. <br> Rotten Tomatoes ratings were taken from <a href="http://www.omdbapi.com"> OMDb (The Open Movie Database)</a>. <br> Goodreads ratings were taken from <a href="http://www.goodreads.com/api"> Goodreads API</a>. <br> Pitchfork ratings were taken from <a href="http://github.com/omardelarosa/pitchfork-npm"> Omar Delarosa's unofficial Pitchfork API</a>. </p>
<p> We would like to thank the following people: <br> Dr. Matthew Wachs and Dr. Anne Rogers, our guides through this process <br> Gustav Larsson, for helping integrate Little Bird into a Django interface <br> Omar DeLaRosa and amueller for their unknowing contributions to our work</p>
{% endblock %}